.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.title {
    text-align: center;
    /* margin: 50px; */
    width: 50%;
    height: 10%;
}

.hoja {
    width: 100px;
    height: 100px;
}

.btnLog {
    width: 40px;
    height: 40px;
}

/* @media (max-width: 640px) {
	.title {
		width: ;
	}
} */